<mat-grid-list cols="2" rowHeight="5em" class="navbar-style" id="stripes">
    <mat-grid-tile style="height: 100%;">
        <a href="https://www.linkedin.com/in/%C3%A1ngel-alejandro-sucasas-goncalves-1829871b0/" style="z-index: 2;">
            <p class="p-adjusted"><mat-icon>looks_one</mat-icon>
                <button mat-button>LinkedIn</button>
            </p>
        </a>
    </mat-grid-tile>
    <mat-grid-tile style="height: 100%;">
        <p class="p-adjusted"><mat-icon>looks_two</mat-icon>
            <button mat-button>tlf: (+58) 414 1224398</button>
        </p>
    </mat-grid-tile>
    <mat-grid-tile style="height: 100%;">
        <a href="https://github.com/angelsucasas">
            <p class="p-adjusted"><mat-icon>looks_3</mat-icon>
                <button mat-button>Github</button>
            </p>
        </a>
    </mat-grid-tile>
    <mat-grid-tile style="height: 100%;">
        <p class="p-adjusted"><mat-icon>looks_4</mat-icon>fecha: 10/06/2021</p>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2"style="height: 100%;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, recusandae.
    </mat-grid-tile>
</mat-grid-list>