<mat-grid-list cols="5" rowHeight="4:1" class="navbar-style">
    <mat-grid-tile style="height: 100%;">
        <a routerLink="" routerLinkActive="active" style="color: white;">
            Lading page
        </a>
    </mat-grid-tile>
    <mat-grid-tile style="height: 100%;">
        <a routerLink="resources" routerLinkActive="active" style="color: white;">
            Recursos
        </a>
    </mat-grid-tile>
    <mat-grid-tile style="height: 100%;">
        <a routerLink="about_us" routerLinkActive="active" style="color: white;">
            Sobre nosotros
        </a>
    </mat-grid-tile>
    <mat-grid-tile style="height: 100%;">
        <a href="https://github.com/angelsucasas/angular-excercise">
            Codigo
        </a>
    </mat-grid-tile>
    <mat-grid-tile style="height: 100%;">
        <a routerLink="user" routerLinkActive="active" style="color: white;">
            API
        </a>
    </mat-grid-tile>
</mat-grid-list>

