<mat-grid-list @smoothEnter cols="2" rowHeight="fit" style="height: 60vh;">
  <mat-grid-tile>
      <img src="assets/svg/main_hero.svg">
  </mat-grid-tile>
  <mat-grid-tile>
      <div align="center">
          <p>Servicio de</p>
          <p>consulta</p>
          <div>
            <a routerLink="user" routerLinkActive="active">
              <button mat-flat-button color="primary" class="link">
                Comenzar              
              </button>
            </a>
          </div>
      </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list @smoothEnter cols="2" rowHeight="fit" style="height: 100vh;">
  <mat-grid-tile fxlayout="row">
      <div align="center">
          <p>Rapidez y </p>
          <p>calidad</p>
      </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div class="phone-image-size">
          <img src="assets/svg/phone.svg">
      </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list @smoothEnter cols="2" rowHeight="1:1" style="margin-bottom: 2em;">
  <mat-grid-tile>
      <div class="people-image-size">
          <img src="assets/svg/people.svg">
      </div>
  </mat-grid-tile>
  <mat-grid-tile>
      <div align="center">
          <p>Encuentra</p>
          <p>tu usuario</p>
          <p>perfecto</p>
      </div>
  </mat-grid-tile>
</mat-grid-list>