<mat-grid-list cols="2" rowHeight="40rem">
    <mat-grid-tile style="height: 100%; margin-left: 5em;">
        <div>
            <p class="big-p">Figma</p>
            <img src="assets/img/figma.JPG" style="width: 50%; height: 40%;">
        </div>
    </mat-grid-tile>
    <mat-grid-tile style="height: 100%;">
        <div>
            <p class="big-p">Images</p>
            <p>
                <a href="https://undraw.co/illustrations">
                    UnDraw
                </a>
            </p>
            <img src="assets/img/unDraw.JPG" style="width: 50%; height: 40%;">
        </div>
    </mat-grid-tile>
</mat-grid-list>