<mat-grid-list cols="1" rowHeight="40rem">
    <mat-grid-tile style="height: 100%; margin-left: 5em;">
        <div>
            <p class="big-p">Otros proyectos individuales:</p>
            <b> 
                <p>
                    <a href="https://testhandonline.000webhostapp.com/">
                        TestHand online [vanilla]
                    </a>
                </p>
            </b>
            <br>            
            <b> 
                <p>
                    <a href="http://whispering-reaches-59092.herokuapp.com/home">
                        Cancha ucab [Laravel-PHP]
                    </a>
                </p>
            </b>
        </div>
    </mat-grid-tile>    
</mat-grid-list>