.user-card{
    width: 90%;
    height: 90%;
    background-color: #75BEF3;
    /*min-height: 200px;*/
}

.user-image-adjust{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.special-title{
    margin-left: -6.4em;
    font-weight: bold;
    font-size: 7vw;
    color:#4B3F95;
}

.litle-grid-list{
    height:30vh;
    width: 100%;
}

b{
    font-size: 1em;
}